{% extends '_layouts/default' %}

{% set urlSegmentFirst      = craft.app.request.getSegment(1) %}
{% set urlSegmentLast       = craft.app.request.getSegment(-1) %}
{% set recipeLists          = craft.categories.group('recipeLists') ??? null %}
{% set categorySlug         = craft.categories.slug(urlSegmentLast) ??? null %}
{% set categoryPage         = categorySlug.one() ??? null %}
{% set categoryList         = craft.entries.relatedTo(categorySlug) ??? null %}
{% set mainClass            = 'category -' ~ urlSegmentLast %}
{% set entry                = {
	title: categoryPage.title,
	type: {
		handle: 'category'
	},
	section: {
		handle: 'categoryPage'
	}
} %}
{% set headline             = categoryPage.headline ??? categoryPage.title %}
{% set description          = categoryPage.description ??? null %}

{% block content %}

	<article class="page__recipes{% if categoryList|length < 1 %} -isEmpty{% endif %}">

		<header class="recipes__intro intro"
				data-scroll
				data-scroll-class="-inViewport">
			<h1 class="recipes__headline headline" data-title="{{ headline }}">{{ headline }}</h1>

			{% if description %}
				<div class="recipes__subheadline">{{ description }}</div>
			{% endif %}
		</header>

		<section class="recipes -all"
				 id="recipesAll"
				 data-scroll
				 data-scroll-class="-inViewport">

			{% if categoryList|length %}
				{% for entry in categoryList %}
					{% include '_components/card-recipe' with {
						descriptions: false
					} %}
				{% endfor %}

			{% else %}
				<p class="no-{{ categoryPage.slug }}">There aren&rsquo;t any {{ categoryPage.title }} listed on {{ siteName }} :(</p>

			{% endif %}
		</section>

	</article>
{% endblock %}
