{% extends '_layouts/default' %}

{% set mainClass        = 'recipe -entry' %}
{% set title            = entry.title %}
{% set headline         = entry.headline ??? title %}
{% set recipe           = entry.recipe ??? null %}
{% set description      = recipe.description ??? null %}
{% set imageID          = recipe.imageId[0] ??? null %}
{% set imageQuery       = craft.assets().id(imageID) ??? null %}
{% set image            = imageQuery.one() ??? null %}
{% set imageUrl         = recipe.getImageUrl() ??? null %}
{% set ingredients      = recipe.ingredients ??? null %}
{% set directions       = recipe.directions ??? null %}
{% set cookingSkill     = recipe.skill ??? null %}
{% set servingSize      = recipe.serves ??? null %}
{% set prepTime         = recipe.prepTime ??? null %}
{% set cookTime         = recipe.cookTime ??? null %}
{% set totalTime        = recipe.totalTime ??? null %}
{% set categoriesQuery  = entry.recipeCategories ??? null %}
{% set mainCategoriesQuery = craft.categories.relatedTo(entry).level(1) ??? null %}
{% set secondaryCategoriesQuery = craft.categories.relatedTo(entry).level(2) ??? null %}
{% set categories       = mainCategoriesQuery.all() ??? null %}
{% set tags             = secondaryCategoriesQuery.all() ??? null %}

{% block content %}
	<article class="recipe__grid">

		<header class="recipe__intro intro"
				data-scroll
				data-scroll-class="-inViewport"
				data-scroll-direction="horizontal"
				data-scroll-speed="-7">
			<h1 class="recipe__headline headline" data-title="{{ headline }}">{{ headline }}</h1>
			{% if description %}
				<div class="recipe__subheadline">
					{% include '_components/illustration' %}
					<span>{{ description|typogrify }}</span>
				</div>
			{% endif %}
		</header>

		<figure class="recipe__cover"
				data-scroll
				data-scroll-class="-inViewport"
				data-scroll-speed="1">
			{% if image %}
				<img src="{{ imageUrl }}"
					 alt="{{ image.alt ??? image.title }}"
					 class="cover__image"
					 id="i-{{ image.uid }}"
					 srcset="{{ image.srcset([400, 800, 1200, 1600]) }}" />
				<figcaption class="cover__caption">
					{{ title|typogrify }}
				</figcaption>
			{% else %}
				<img src="https://via.placeholder.com/960x450/e8e7e1/2b3b4c?text=Pretend+this+is+{{ title }}"
					 alt="placeholder for {{ title }}"
					 class="cover__image" />
				<figcaption class="cover__caption">
					{{ title|typogrify }}
				</figcaption>
			{% endif %}
		</figure>

		{# {% if entry.recipeImages | length > 1 %}
			<section class="recipe__gallery" style="display: none;">
				{% for image in entry.recipeImages %}
					<img src="{{ image.url }}"
						 alt="{{ image.name }}"
						 width="{{ image.dimensions.width }}"
						 height="{{ image.dimensions.height }}"
						 class="gallery__image ratio--{{ image.ratio|slice(0, 2) }}-{{ image.orientation }}"
						 id="{{ image.hash }}"
						 srcset="" />
				{% endfor %}
			</section>
		{% endif %} #}

		<section class="recipe__ingredients"
				 data-scroll
				 data-scroll-class="-inViewport"
				 data-scroll-speed="-2">
			<div id="ingredients" class="ingredients" tabindex="0">
				<h2 class="ingredients__title">Ingredients</h2>
				{% include '_components/ingredients' with {
					ingredients: ingredients
				} %}
				{% include '_components/cookingTime' with {
					prepTime: prepTime,
					cookTime: cookTime,
					totalTime: totalTime,
				} %}
				{# custom generated nutrition label #}
				{{ recipe.renderNutritionFacts() }}
			</div>
		</section>

		<section class="recipe__directions"
				 id="directions"
				 data-scroll
				 data-scroll-class="-inViewport"
				 data-scroll-speed="1">
			<h2 class="directions__title">Directions</h2>
			{% include '_components/directions' %}
		</section>

		<section class="recipe__tags"
				 data-scroll
				 data-scroll-class="-inViewport"
				 data-scroll-speed="1">
			<h3 class="tags__title">Categories, tags, <i>etc.</i></h3>
			{% include '_components/tags' %}
		</section>

	</article>
{% endblock %}

{% block scripts %}
	{{ recipe.renderRecipeJSONLD() }}
{% endblock %}
