{% extends '_layouts/default' %}

{% set mainClass        = 'recipe -entry' %}
{% set title            = entry.title %}
{% set headline         = entry.headline ??? title %}
{% set description      = entry.recipe.description ??? null %}
{% set recipe           = entry.recipe ??? null %}
{% set imageID          = recipe.imageId[0] ??? null %}
{% set imageQuery       = craft.assets().id(imageID) ??? null %}
{% set image            = imageQuery.one() ??? null %}
{% set ingredients      = entry.recipe.ingredients ??? null %}
{% set directions       = entry.recipe.directions ??? null %}
{% set dishQuery        = craft.categories.group('dish') ??? null %}
{% set ethnicityQuery   = craft.categories.group('ethnicity') ??? null %}
{% set healthinessQuery = craft.categories.group('healthiness') ??? null %}
{% set styleQuery       = craft.categories.group('style') ??? null %}
{% set dish             = entry.dish ??? null %}
{% set ethnicity        = entry.ethnicity ??? null %}
{% set healthiness      = entry.healthiness ??? null %}
{% set style            = entry.style ??? null %}
{% set tags             = dish or ethnicity or healthiness or style %}

{% block content %}
	<article class="recipe__grid">

		<header class="recipe__intro intro">
			<h1 class="recipe__headline headline" data-title="{{ headline }}">{{ headline }}</h1>
			{% if description %}
				<div class="recipe__subheadline">
					<img src="" class="" />
					{{ description }}
				</div>
			{% endif %}
		</header>
		<figure class="recipe__cover">
			{% if image %}
				<img src="{{ image.url }}"
					 alt="{{ image.alt ??? image.title }}"
					 class="cover__image"
					 id="i-{{ image.uid }}"
					 srcset="" />
			{% else %}
				<img src="https://via.placeholder.com/960x450/e8e7e1/2b3b4c?text=Pretend+this+is+{{ title }}" alt="placeholder for {{ title }}" class="cover__image" />
				<figcaption class="cover__caption">
					{{ title }}
				</figcaption>
			{% endif %}
		</figure>

		{# {% if entry.recipeImages | length > 1 %}
			<section class="recipe__gallery" style="display: none;">
				{% for image in entry.recipeImages %}
					<img src="{{ image.url }}"
						 alt="{{ image.name }}"
						 width="{{ image.dimensions.width }}"
						 height="{{ image.dimensions.height }}"
						 class="gallery__image ratio--{{ image.ratio|slice(0, 2) }}-{{ image.orientation }}"
						 id="{{ image.hash }}"
						 srcset="" />
				{% endfor %}
			</section>
		{% endif %} #}

		<section class="recipe__ingredients">
			<div id="ingredients" class="ingredients" tabindex="0">
				<h2 class="ingredients__title">Ingredients</h2>

				{% if ingredients %}
					<ul class="ingredients__list">

						{% for ingredient in ingredients %}
							<li class="ingredient reading">
								<span class="quantity">{{ ingredient.quantity }}</span>
								<span class="units">{{ ingredient.units }}</span>
								<span class="ingredient">{{ ingredient.ingredient }}</span>
							</li>
						{% endfor %}

					</ul>
				{% else %}
					<ul class="ingredients__list">
						<li class="ingredient reading">Evidently there are no ingredients.</li>
					</ul>
				{% endif %}
			</div>
		</section>

		<section id="directions" class="recipe__directions">

			<h2 class="directions__title">Directions</h2>

			{% if directions %}
				<ol class="directions__list" role="tablist">

					{% for step in directions %}
						<li id="{{ step.direction|replace({ ' ' : '', '.' : '', ',' : '' })|lower|slice(0, 24) }}" class="direction reading" role="tab" tabindex="0">
							{{ step.direction }}
						</li>
					{% endfor %}

				</ol>
			{% else %}
				<p>Apparently you should be able to figure this one out on your own?</p>
			{% endif %}
		</section>

		<section class="recipe__tags">
			<h3 class="tags__title">Categories, tags, <i>etc.</i></h3>
			{% if tags %}
				<dl class="tags">
					{% if dish %}
						<dt class="tags__label">Dish</dt>
						<dd class="tag">
							{% for tag in dish %}
								{{ tag }}{% if not loop.last %}, {% endif %}
							{% endfor %}
						</dd>
					{% endif %}
					{% if ethnicity %}
						<dt class="tags__label">Ethnicity</dt>
						<dd class="tag">
							{% for tag in ethnicity %}
								{{ tag }}{% if not loop.last %}, {% endif %}
							{% endfor %}
						</dd>
					{% endif %}
					{% if healthiness %}
						<dt class="tags__label">Healthiness</dt>
						<dd class="tag">
							{% for tag in healthiness %}
								{{ tag }}{% if not loop.last %}, {% endif %}
							{% endfor %}
						</dd>
					{% endif %}
					{% if style %}
						<dt class="tags__label">Style</dt>
						<dd class="tag">
							{% for tag in style %}
								{{ tag }}{% if not loop.last %}, {% endif %}
							{% endfor %}
						</dd>
					{% endif %}
				</dl>
			{% else %}
				<p>This relates to&hellip;nothing!</p>
			{% endif %}
		</section>

	</article>
{% endblock %}
