{% extends '_layouts/default' %}
{% set htmlTitle = entry.title ~ ' - ' ~ siteName %}

{% set headline                = entry.headline ??? siteName %}
{% set subheadline             = entry.homeHeadline ??? 'Browse' %}
{% set description             = entry.description ??? 'Welcome to my cookbook!' %}
{% set featureHeadline         = entry.featureHeadline ??? null %}
{% set featureDescription      = entry.featureDescription ??? null %}
{% set featureUrlQuery         = entry.featureUrl ??? null %}
{% set featureUrl              = featureUrlQuery.one().url ??? null %}
{% set featureImageQuery       = entry.featureImage ??? null %}
{% set featureImage            = featureImageQuery.one() ??? null %}
{# {% set featureCategory         = entry.featureCategory ??? null %} #}
{# {% set featureCategoryQuery    = craft.entries.section('recipes').limit(4) ??? null %} #}
{# {% set featureCategory         = featureCategoryQuery.all() ??? null %} #}
{% set featureCategoryHeadline = entry.featureCategoryHeadline ??? 'Featured' %}
{% set featureCategoryQuery    = craft.entries.section('recipes') ??? null %}
{% set featureCategory         = featureCategoryQuery.all() ??? null %}

{% block content %}
	<article class="homepage__grid">

		<header class="homepage__intro intro">
			<h1 class="--hide-visually">{{ siteName }}</h1>
			<h2 class="homepage__headline headline" data-title="{{ headline }}">{{ headline }}</h2>
			<div class="homepage__subheadline">
				{{ description }}
			</div>
			<a href="javascript:void(0)" id="homeSearchToggle" class="homepage__button button">
				<span data-title="Seach Food &amp; Drinks">Seach Food &amp; Drinks</span>
			</a>
		</header>

		<section class="homepage__promos">
			<aside id="homeBored" class="bored">
				<h2 class="bored__headline headline">{{ subheadline|typogrify(true) }}</h2>

				{% set leftQuery       = entry.linkToRecipes ??? null %}
				{% set left            = leftQuery.one() ??? null %}
				{% set leftCoverQuery  = left.image ??? null %}
				{% set leftCover       = leftCoverQuery.one() ??? null %}
				{% set rightQuery      = entry.linkToDrinks ??? null %}
				{% set right           = rightQuery.one() ??? null %}
				{% set rightCoverQuery = right.image ??? null %}
				{% set rightCover      = rightCoverQuery.one() ??? null %}

				{% if left %}
					<a href="{{ left.url }}" class="bored__link crosshair__trigger">
						<h3 class="left-link__headline">
							Browse Food Recipes
						</h3>
						<figure class="left-link__crosshair crosshair"></figure>
						<div class="left-link__description">
							{{ left.description|typogrify }}
						</div>
						{% if leftCover %}
							<img src="{{ leftCover.url }}"
								alt="{{ leftCover.title }}"
								id="img-{{ leftCover.uid }}"
								class="left-link__cover"
								srcset="{{ leftCover.srcset([400, 800, 1200, 1600]) }}" />
						{% else %}
							<img src="https://loremflickr.com/400/400/food,elegant/all" alt="" class="left-link__cover" />
						{% endif %}
					</a>
				{% endif %}

				{% if right %}
					<a href="{{ right.url }}" class="bored__link crosshair__trigger">
						<h3 class="right-link__headline">
							Browse Drinks &amp; Cocktails
						</h3>
						<figure class="right-link__crosshair crosshair"></figure>
						<div class="right-link__description">
							{{ right.description|typogrify }}
						</div>
						{% if rightCover %}
							<img src="{{ rightCover.url }}"
								alt="{{ rightCover.title }}"
								id="img-{{ rightCover.uid }}"
								class="right-link__cover"
								srcset="{{ rightCover.srcset([400, 800, 1200, 1600]) }}" />
						{% else %}
							<img src="https://loremflickr.com/400/400/food,elegant/all" alt="" class="right-link__cover" />
						{% endif %}
					</a>
				{% endif %}
			</aside>

			{% if featureHeadline or featureDescription %}
				<aside id="homeFeature" class="feature">
					<h3 class="feature__headline">
						{{ featureHeadline|typogrify(true) }}
					</h3>

					<div class="feature__description">
						{{ featureDescription|typogrify }}
						{% if featureUrl %}
							<a href="{{ featureUrl }}" class="feature__link">Read Post</a>
						{% endif %}
					</div>
				</aside>

				{% if featureImage %}
					<img src="{{ featureImage.url }}"
						alt="{{ featureImage.title }}"
						id="img-{{ featureImage.uid }}"
						class="feature__cover"
						srcset="{{ featureImage.srcset([400, 800, 1200, 1600]) }}"
						aria-describedby="homeFeature" />

				{% else %}
					<img src="https://loremflickr.com/400/400/food,elegant/all" alt="" class="feature__cover" />

				{% endif %}
			{% endif %}
		</section>

		<section id="homeCategory" class="hompage__category">
			<h3 class="category__headline headline" data-title="Latest Recipes">Latest Recipes</h3>
			{% if featureCategory %}
				<ul class="category__list">

					{% for recipe in featureCategory %}
						{% set recipeImageID    = recipe.recipe.imageId[0] ??? null %}
						{% set recipeImageQuery = craft.assets().id(recipeImageID) ??? null %}
						{% set recipeImage      = recipeImageQuery.one() ??? null %}

						<li class="recipe -small">
							<a href="{{ recipe.url }}" id="{{ recipe.uid }}" class="recipe__link">
								{% if recipeImage %}
									<img src="{{ recipeImage.url }}"
										alt="{{ recipeImage.title }}"
										class="recipe__thumbnail"
										id="img-{{ recipeImage.uid }}"
										srcset="{{ recipeImage.srcset([44, 72, 150]) }}" />

								{% else %}
									<img src="https://via.placeholder.com/500/e8e7e1/2b3b4c?text=Pretend+this+is+{{ recipe.title }}" alt="placeholder for {{ recipe.title }}" class="recipe__thumbnail" />

								{% endif %}

								<h2 class="recipe__title">{{ recipe.title|truncateOnWord(40) }}</h2>
							</a>
						</li>
					{% endfor %}
				</ul>

			{% else %}
				<p class="no-recipes">There aren&rsquo;t any recipes listed on {{ siteName }} :(</p>

			{% endif %}
		</section>

	</article>
{% endblock %}
