{% extends '_layouts/default' %}

{% set mainClass    = 'search -index' %}
{% set searchQuery  = craft.app.request.getParam('q') ??? 'Nothing?' %}
{% set resultsQuery = craft.entries().search(searchQuery).orderBy('score') ??? null %}
{% set results      = resultsQuery.all() ??? null %}
{# set some entry overrides #}
{% set entry        = {
	title: searchQuery,
	section: {
		handle: 'results'
	},
	type: {
		handle: 'search'
	}
} %}

{% block content %}
	<article class="page__results">

		<header class="results__intro intro"
				data-scroll
				data-scroll-class="-inViewport">
			<h1 class="results__headline headline">Search Results</h1>
			{% if results %}
				<p class="results__subheadline">Here&rsquo;s everything in {{ siteName }} relating to <strong>&ldquo;{{ searchQuery }}&rdquo;</strong></p>
			{% else %}
				<p class="results__subheadline">We got nothin&rsquo;. Try <a href="javascript:;" id="homeSearchToggle">searching again</a>.</p>
			{% endif %}
		</header>

		<section class="results">
			{% if results %}
				<ul class="results__list">
					{% for result in results %}

						{% set resultType  = '– ' ~ result.section.handle ??? null %}
						{% set link        = result.url ??? (siteUrl ~ result.section.handle) %}
						{% set coverID     = result.recipe.imageId[0] ??? null %}
						{% set coverQuery  = craft.assets().id(coverID) ??? null %}
						{% set cover       = coverQuery.one() ??? null %}
						{% set name        = result.recipe.name ??? result.title %}
						{% set description = result.description ??? '<em>Apparently this isn&rsquo;t good enough to describe :(</em>' %}

						<li class="results__result"
							data-scroll
							data-scroll-class="-inViewport">

							<a href="{{ link }}" class="result">

								{# conditional cover image #}
								<figure class="result__image">
									{% if cover %}
										<img src="{{ cover.url }}"
											 alt="{{ cover.alt ??? cover.title }}"
											 class="thumbnail"
											 id="i-{{ cover.uid }}"
											 srcset="" />
										<figcaption class="thumbnail__bg">{{ resultType|slice(2, 1)|title }}</figcaption>
									{% else %}
										<img src="https://via.placeholder.com/250/e8e7e1/2b3b4c?text={{ resultType|slice(2, 1)|title }}" alt="Photo of {{ name }}" class="thumbnail" />
										<figcaption class="thumbnail__bg">{{ resultType|slice(2, 1)|title }}</figcaption>
									{% endif %}
								</figure>

								{# capitalized version of entry type #}
								{% if resultType %}
									<span class="result__type">{{ resultType|title }}</span>
								{% endif %}

								{# recipe/drink/entry title #}
								<h2 class="result__title">{{ name }}</h2>

								{# description of entry #}
								<div class="result__description">
									{{ description|wordLimit(16)|typogrify }}
								</div>
							</a>
						</li>

					{% endfor %}
				</ul>
			{% endif %}
		</section>

	</article>
{% endblock %}
