<nav class="page__breadcrumb" data-scroll-section>

	<hr class="hr--gold" />

	<ul class="breadcrumbs">

		<li class="breadcrumbs__crumb" data-scroll data-scroll-class="-inViewport">
			<a href="{{ siteUrl }}" aria-label="">
				Home
			</a>
			&emsp;→
		</li>

		<li class="breadcrumbs__crumb" data-scroll data-scroll-class="-inViewport">
			<a href="{{ siteUrl }}{{ entry.type.handle }}" aria-label="{{ entry.type.name }}">
				{{ entry.type.name }}
			</a>
			&emsp;→
		</li>

		<li class="breadcrumbs__crumb -isActive" data-scroll data-scroll-class="-inViewport">
			<a href="{{ entry.url }}" class="crumb js-crumb" title="Click to copy {{ entry.type.name }} URL" data-clipboard-text="{{ entry.url }}">
				{{ (entry.headline ??? entry.title)|wordLimit(6) }}
			</a>
		</li>
	</ul>

</nav>
