<nav class="page__breadcrumb">

	<hr class="hr--gold" />

	<ul class="breadcrumbs">

		<li class="breadcrumbs__crumb">
			<a href="{{ siteUrl }}" aria-label="">
				Home
			</a>
			&emsp;→
		</li>

		<li class="breadcrumbs__crumb">
			<a href="{{ siteUrl }}{{ entry.type.handle }}" aria-label="{{ entry.type.name }}">
				{{ entry.type.name }}
			</a>
			&emsp;→
		</li>

		<li class="breadcrumbs__crumb -isActive">
			<a href="{{ entry.url }}" class="crumb js-crumb" title="Click to copy {{ entry.type.name }} URL">
				{{ (entry.headline ??? entry.title)|wordLimit(6) }}
			</a>
		</li>
	</ul>

</nav>
